* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  /* height: 200px; */
  width: 300px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card p{
  margin: 20px 0;
  font-size: 18px;
}

.card img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.card button {
  /* margin-top: 20px; */
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
  /* cursor: pointer; */
}    